*{
    margin: 0px;
    padding: 0px;
}
.srcBig{
    width: 94%;
    height: auto;
    margin: auto;
}
.srcSmall{
    box-shadow: darkgrey 5px 5px 20px 5px ;
    text-align: center;
    width: 46%;
    height: 260px;
    float: left;
    margin-top: 50px;
    background-color: white;
    border: 0.5px darkgray solid;
    margin-left: 20px;
}
.srcSmall:hover{
   transform: scale(1.05);
}
.srcTitle{
    width: 78%;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 40px;
    font-size: 14px;
    color: #5e5e5e;
    margin: auto;
    margin-top: 10px;
}

/*###################################################################*/
.bigSrc_Big{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}
.bigSrc_title{
    width: 100%;
    height: 4%;
    line-height: 30px;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}
.bigSrc_text{
    width: 95%;
    height: auto;
    font-size: 18px;
    line-height: 30px;
     margin: auto;
    margin-top: 40px;
 }
.bigSrc_text img{
    max-width: 100%;
}
 .src_img{
     width: 100%;
 }
 .img_kuang{
     text-align: center;
     width: 95%;
     margin: auto;
 }
 .back_css{
     margin: auto;
     margin-top: 20px;
     margin-bottom: 20px;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 1px black solid;
     background-color: black;
 }
 .back_css:hover{
     background-color: bisque;
 }
 .back_img{
     width: 40px;
     margin-left: 5px;
     margin-top: 3px;
 }
 .showBigSrc{
     position: absolute;
     background-color: rgba(255,182,193,0.8);
     width: 100%;
     height: auto;
     left: 50%;
     transform:translateX(-50%);
 }
 /*############################################*/
.upSrcBig{

    border: 2px oldlace solid;
    width: 80%;
    height: 40%;
    margin: auto;
    margin-top: 40px;
}
.upSrcTitle{
    font-size: 20px;
    width: 80%;
    height: 50px;
    line-height: 50px;
    margin: auto;
    margin-top: 30px;
}

.upSrcText{
    font-size: 20px;
    width:80% ;
    height: 45%;
    margin: auto;
    margin-top: 20px;
}
.upSrcImg{
    font-size: 20px;
    width: 80%;
    height: 10%;
    margin: auto;
    margin-top: 20px;
}
.submit_src{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 38%;
    height: 30px;
    text-align: center;
    width: 100px;
    background-color:#ff8a00 ;
    border: none;
    border-radius: 4px;
}
/*=================================================*/
 textarea::-ms-input-placeholder{text-align: center;line-height: 200px}
textarea::-webkit-input-placeholder{text-align: center;line-height: 200px}