<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置包扫描器 -->
    <context:component-scan base-package="com.controller"/>
    <!-- 具体controller包的路径取决于你新建的java代码的controller层包  -->

    <!--加载多个配置文件-->
    <context:property-placeholder location="classpath:properties/db.properties,classpath:properties/srcPath.properties" />

    <!-- 配置注解驱动-->
    <mvc:annotation-driven/>

    <!--静态资源访问-->
    <mvc:default-servlet-handler/>


    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 图片上传大小设置-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>10240000</value>
        </property>
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
    </bean>

    <!--拦截器-->
    <!--可配置多个拦截器,顺序执行-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/UserController/*"/>
            <mvc:mapping path="/WallpaperController/*"/>
            <mvc:mapping path="/ResourceController/*"/>
            <mvc:mapping path="/IndexController/*"/>
            <mvc:mapping path="/AnnounceController/*"/>
            <mvc:mapping path="/AnimaController/*"/>
            <mvc:mapping path="/ToolsController/*"/>
            <bean id="ClickInterceptor" class="com.interceptor.ClickInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/SuggestController/*"/>
            <mvc:mapping path="/UserController/checkIn"/>
            <mvc:mapping path="/UserController/signOut"/>
            <mvc:mapping path="/UserController/jumpPerson"/>
            <mvc:mapping path="/WallpaperController/jumpUpWallpaper"/>
            <mvc:mapping path="/ResourceController/jumpUpSrc"/>
            <mvc:mapping path="/ResourceController/loadSrc"/>
            <mvc:mapping path="/AnimaController/chooseAnimaNums"></mvc:mapping>
            <mvc:mapping path="/AnimaController/lookAnima"></mvc:mapping>
            <bean id="UserInterceptor" class="com.interceptor.UserInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
           <mvc:mapping path="/AnnounceController/*"></mvc:mapping>
           <mvc:mapping path="/ResourceController/jumpJudgeSrc"></mvc:mapping>
           <mvc:mapping path="/ResourceController/setSrcState"></mvc:mapping>
           <mvc:mapping path="/ResourceController/setAllSrcState"></mvc:mapping>
           <mvc:mapping path="/ResourceController/deleteSrc"></mvc:mapping>
           <mvc:mapping path="/WallpaperController/jumpJudgeImg"></mvc:mapping>
           <mvc:mapping path="/WallpaperController/JudgeImg"></mvc:mapping>
           <mvc:mapping path="/WallpaperController/JudgeAll"></mvc:mapping>
           <mvc:mapping path="/WallpaperController/deleteImg"></mvc:mapping>
            <mvc:exclude-mapping path="/AnnounceController/jumpAnnounceDetails"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/AnnounceController/findAnnounceByPage"></mvc:exclude-mapping>
            <bean id="AdminInterceptor" class="com.interceptor.AdminInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/AnimaController/*"></mvc:mapping>
            <mvc:mapping path="/UserController/jumpPersonManage"></mvc:mapping>
            <mvc:mapping path="/UserController/addManage"></mvc:mapping>
            <mvc:mapping path="/UserController/deleteManage"></mvc:mapping>
            <mvc:mapping path="/UserController/resetPassword"></mvc:mapping>
            <bean id="SuperAdminInterceptor" class="com.interceptor.SuperAdminInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--统一异常处理类的实例化-->
    <bean id="ExceptionHandler" class="com.ExceptionHandler.ExceptionHandler"></bean>

</beans>
