<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.AnimaMapper">
    <resultMap id="animaResultMap" type="com.pojo.Anima">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="weekDay" property="weekDay" jdbcType="VARCHAR"/>
        <result column="animaName" property="animaName" jdbcType="VARCHAR"/>
        <result column="animaAddr" property="animaAddr" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findAnima" resultMap="animaResultMap">
         select * from anima;
    </select>
    <insert id="addAnima" parameterType="com.pojo.Anima">
             insert into anima(weekDay,animaName,animaAddr)values(#{weekDay},#{animaName},#{animaAddr})
    </insert>
    <delete id="deleteAnima" parameterType="java.lang.Integer">
           delete from anima where id=#{id}
    </delete>
    <delete id="deleteAnimaByName" parameterType="java.lang.String">
           delete from anima where animaName=#{animaName}
    </delete>
    <delete id="dropAnima" parameterType="java.lang.Integer">
           delete from anima
    </delete>
</mapper>
