<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.ResourceMapper">
    <resultMap id="resourceResultMap" type="com.pojo.Resource">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="srcTitle" property="srcTitle" jdbcType="VARCHAR"/>
        <result column="srcText" property="srcText" jdbcType="VARCHAR"/>
        <result column="upUser" property="upUser" jdbcType="VARCHAR"/>
        <result column="srcDownload" property="srcDownload" jdbcType="VARCHAR"/>
        <result column="lookNum" property="lookNum" jdbcType="INTEGER"/>
        <result column="upTime" property="upTime"/>
        <result column="srcState" property="srcState" jdbcType="INTEGER"/>
        <result column="srcImg01" property="srcImg01" jdbcType="VARCHAR"/>
        <result column="srcImg02" property="srcImg02" jdbcType="VARCHAR"/>
        <result column="srcImg03" property="srcImg03" jdbcType="VARCHAR"/>
    </resultMap>
  <select id="selectLastSrcImg" resultType="java.lang.String">
    select srcImg01 from resource order by id desc limit 1
  </select>
    <select id="selectSrc" resultMap="resourceResultMap">
    select * from resource where id=#{id} and srcState!=2
  </select>
    <insert id="insertSrc" parameterType="com.pojo.Resource">
     insert into resource(srcTitle,srcText,upUser,srcDownload,srcImg01,srcImg02,srcImg03)
    value(#{srcTitle},#{srcText},#{upUser},#{srcDownload},#{srcImg01},#{srcImg02},#{srcImg03})
    </insert>
    <select id="selectAllSrc" resultMap="resourceResultMap">
       select id,srcTitle,upUser,srcImg01 from resource where srcState=1 order by id desc limit #{num},6;
    </select>
    <select id="selectAllSrcPage" resultType="java.lang.Integer">
    select count(id) from resource where srcState=1;
  </select>
    <select id="selectJudgeSrc" resultMap="resourceResultMap">
      select id,srcTitle,upUser,srcImg01 from resource where srcState=0 order by upTime desc
    </select>
    <update id="setJudgeState" parameterType="java.lang.Integer">
        update resource set srcState=#{num} where id=#{id}
    </update>
    <update id="setAllState">
        update resource set srcState=1 where srcState=0
    </update>
    <update id="clickSrc" parameterType="java.lang.Integer">
        update resource set lookNum=lookNum+1  where id=#{id}
    </update>
    <delete id="deleteSrc" parameterType="java.lang.Integer">
      delete from resource where id=#{id}
    </delete>
</mapper>
